{% extends 'auth_base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="auth-logo">
        <i class="fa fa-money" style="color: black" aria-hidden="true"></i> <b>Control-money.ru</b>
    </h2>
    <div class="auth-block">
        <h2 style="text-align: center;padding: 25px 0 25px 0">Вход</h2>
        <form method="POST">{% csrf_token %}
            <span style="color: red">{{ form.username.errors }}</span>
            <div style="margin-bottom: 10px; width: 100%" class="input-group">
                <span style="width: 50px" class="input-group-addon"><i class="fa fa-user" style="font-size:20px;" aria-hidden="true"></i></span>
                {{ form.username|add_class:'form-control'|attr:'placeholder:Логин'|attr:'style:height:50px;font-size:20px;' }}
            </div>
            <span style="color: red">{{ form.password.errors }}</span>
            <div style="margin-bottom: 10px; width: 100%" class="input-group">
                <span style="width: 50px" class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                {{ form.password|add_class:'form-control'|attr:'placeholder:Пароль'|attr:'style:height:50px;font-size:20px;' }}
            </div>
            <button class="btn btn-warning btn-auth" type="submit">Вход</button>
            <div style="text-align: center; padding: 17px 0 5px 0">
                <a href="/auth/register">Не зарегистрированы?</a>
            </div>
        </form>
    </div>
{% endblock %}
