{% extends 'auth_base.html' %}
{% load widget_tweaks %}
{% block content %}
        <h3 style="text-align: center"><i class="fa fa-address-card" aria-hidden="true"></i> <span style="color: #ff923a; font-weight: bold">Регистрация на <span style="color: black">control-money.ru</span></span></h3>
        <hr>
        <form method="POST">{% csrf_token %}
            <span style="color: red">{{ form.username.errors }}</span>
            <div style="margin-bottom: 10px; width: 100%" class="input-group">
                <span style="width: 40px" class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                {{ form.username|add_class:'form-control'|attr:'placeholder:Логин' }}
            </div>
            <span style="color: red">{{ form.password1.errors }}</span>
            <div style="margin-bottom: 10px; width: 100%" class="input-group">
                <span style="width: 40px" class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                {{ form.password1|add_class:'form-control'|attr:'placeholder:Пароль' }}
            </div>
            <span style="color: red">{{ form.password2.errors }}</span>
            <div style="margin-bottom: 10px; width: 100%" class="input-group">
                <span style="width: 40px" class="input-group-addon">2</span>
                {{ form.password2|add_class:'form-control'|attr:'placeholder:Еще раз пароль' }}
            </div>

            <button style="margin-top: 8px" class="btn btn-warning" type="submit">Зарегистрироваться</button>
        </form>
{% endblock %}
