{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script data-pace-options='{"ajax":"trackMethods":["GET","POST"]}' src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Encode+Sans+Expanded|Exo+2" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="{% static 'js/lib/spincrement.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.offcanvas.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.offcanvas.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        ::-webkit-scrollbar-thumb {
            background-color: {% if configuration.color %}{{ configuration.color }}{% else %}#ff923a;{% endif %}
        }
    </style>
</head>
<body>
<header style="flex: 0 0 auto;">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="button-toggle" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}
                    <a class="navbar-brand" style="color: {{ configuration.color }}" href="{{ configuration.get_absolute_url }}"><i class="{{ configuration.icon }}" aria-hidden="true"></i> <b>{{ configuration.name }}</b></a>
                {% endblock %}
            </div>
            {% block menu %}
            {% endblock %}
        </div>
    </nav>
</header>
<div style="flex: 1 0 auto;" class="container">
    <div class="row">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<footer style="flex: 0 0 auto;">
    {% include 'footer.html' %}
</footer>
<script>
    function load(url) {
        $(document).ajaxStart(function() { Pace.restart(); });
        $('#content').load(url, function () {});
        var li = $('.navbar-nav').children();
        li.removeClass('active');

        var r_url = url.split('/')[0];
        for (var i=0;i<li.length;i++) {
            if (String(li.eq(i).children().attr('onclick')).indexOf(r_url) !== -1 ) {
                li.eq(i).addClass('active')
            }
        }
    }
</script>
</body>
<style>

    .pace .pace-progress {
        color: {{ configuration.color }};
        background: {{ configuration.color }};
    }

    .form-control:focus {
    {% if configuration.color %}
        border-color: {{ configuration.color }};
    {% else %}
        border-color: #ff923a;
    {% endif %}
    }
</style>
</html>