{% load staticfiles %}
{% load poll_extras %}
<h3>О проекте</h3>
<hr>
<div class="col-lg-6">
    <p>Проект разработан для людей, ответственно относящихся к своим финансам. Он призван помочь вам распоряжаться своими денежными средствами <b>максимально эффективно</b>.</p>
    <br>
    <p>По любым вопросам пишите:
        <br>
        <b style="font-size: 18px"><i class="fa fa-envelope-o" aria-hidden="true"></i> den@beloglazov.me</b>
        <br>
        <b style="font-size: 18px"><i class="fa fa-vk" style="color: cornflowerblue" aria-hidden="true"></i> <a target="_blank" href="http://vk.com/fire_den">Белоглазов Денис</a></b>
        <br>
        <b style="font-size: 18px"><i class="fa fa-telegram" style="color: #70a0ed" aria-hidden="true"></i> <a target="_blank" href="http://t.me/Firexd2">Firexd2</a></b>
    </p>
</div>
