{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Панель управления{% endblock %}
{% block brand %}
    <a class="navbar-brand" onclick="load('home/')"><i class="fa fa-money" aria-hidden="true"></i> <b>Control-Money.com</b></a>
{% endblock %}
{% block menu %}
    <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
        <ul class="nav navbar-nav">
            <li class="active"><a onclick="load('home/')"><i class="fa fa-columns" aria-hidden="true"></i> Панель</a></li>
            <li><a onclick="load('new/')"><i class="fa fa-plus-circle" aria-hidden="true"></i> Новый план бюджета</a></li>
            <li><a onclick="load('help/')"><i class="fa fa-info-circle" aria-hidden="true"></i> Помощь</a></li>
            <li><a onclick="load('about/')"><i class="fa fa-wrench" aria-hidden="true"></i> О проекте</a></li>
        </ul>
        <p class="navbar-text">Привет, <b>{{ user }}</b>. <a href="/auth/logout/">Выйти</a></p>
        <p class="navbar-text version">{{ version }} <span class="caret"></span></p>
        <div class="visible-xs">
            {% for plan in user.settings.configurations.all %}
                <p class="navbar-text">
                    <span style="color:{{ plan.color }}"><i class="{{ plan.icon }}" aria-hidden="true"></i> {{ plan.name }}</span>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include 'panel/panel.html' %}
{% endblock %}