{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
            <li class="active"><a id="home-button-menu" onclick="load('home/')"><i class="fa fa-home" aria-hidden="true"></i> Главная</a></li>
            <li><a id="input-cost-button-menu" onclick="load('cost/')"><i class="fa fa-plus" aria-hidden="true"></i> Ввод расходов</a></li>
            <li><a onclick="load('stat/')"><i class="fa fa-line-chart" aria-hidden="true"></i> Статистика</a></li>
            <li><a onclick="load('settings/')"><i class="fa fa-cog" aria-hidden="true"></i> Настройки</a></li>
            <li><a onclick="load('archive/')"><i class="fa fa-archive" aria-hidden="true"></i> Архив</a></li>
            <li class="dropdown">
                <a href="{% url 'panel' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-columns" aria-hidden="true"></i> Панель <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for configuration in user.settings.configurations.all %}
                        <li><a href="{{ configuration.get_absolute_url }}"><i class="{{ configuration.icon }}" aria-hidden="true"></i> {{ configuration.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% include 'plan/home.html' %}
{% endblock %}