{% load staticfiles %}
{% load poll_extras %}
<div class="row">
    <h3>Навигация</h3>
    <hr>
    <div onclick="load('cost/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-plus fa-4x" aria-hidden="true"></i> <br>
                Ввести трату</h2>
        </div>
    </div>
    <div onclick="load('stat/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-line-chart fa-4x" aria-hidden="true"></i> <br>
                Статистика</h2>
        </div>
    </div>
    <div onclick="load('settings/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-cog fa-4x" aria-hidden="true"></i> <br>
                Настройки</h2>
        </div>
    </div>
    <div onclick="load('shopping_list/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-list fa-4x" aria-hidden="true"></i> <br>
                Список покупок</h2>
        </div>
    </div>
    <div onclick="load('archive/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-archive fa-4x" aria-hidden="true"></i> <br>
                Архив</h2>
        </div>
    </div>
    <div onclick="location.href='{% url 'panel' %}'" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-columns fa-4x" aria-hidden="true"></i> <br>
                Панель</h2>
        </div>
    </div>
</div>
<div class="row">
    <h3>Управление <i class="fa fa-question-circle-o help-button" aria-hidden="true"></i></h3>
    <hr>
    <div class="col-lg-4">
        <div class="manage-block">
            <h4 id="manage-block-title-1"><i class="icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Новый расчетный период</h4>
            <form style="margin-bottom: 15px" name="new-period" method="POST">
                <div class="inline-input" style="width: 210px">
                    <input name="name" hidden value="{{ configuration.name }}">
                    <input required name="number" max="{{ user.settings.free_money }}" placeholder="Cумма*" class="form-control input-home" type="number">
                    <input name="comment" placeholder="Комментарий" class="form-control input-home" type="text">
                </div><div class="inline-input" style="width: 30px">
                <button style="height: 100px; font-size: 25px" class="btn btn-default">
                    <i class="fa fa-check" style="color: #5cb85c" aria-hidden="true"></i>
                </button>
            </div>
            </form>
            <p style="color: green">Доступно для ввода: <b>{{ user.settings.free_money|points }}</b> <i class="fa fa-rub" aria-hidden="true"></i></p>
            <p class="info-text">
                При начале нового расчетного периода:
                <br>
                - все текущие траты будут обнулены и занесены в архив
                <br>
                - неиспользованный остаток по плану будет автоматически зачислен на счет неиспользуемых денег
                <br>
                - при вводе суммы, отличной от текущей, лимиты категорий будут рассчитаны автоматически
                <br>
            </p>
            <p class="info-text" style="color: rgba(191,101,84,0.99);">
                ВНИМАНИЕ! После начала нового рассчетного периода, вернуться к прежнему состоянию плана будет невозможно.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="manage-block">
            <h4><i class="icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Добавление денежных средств</h4>
            <form style="margin-bottom: 15px" name="middle-income" method="POST">
                <div class="inline-input" style="width: 210px">
                <input name="name" hidden value="{{ configuration.name }}">
                <input required name="number" max="{{ user.settings.free_money }}" placeholder="Сумма*" class="form-control input-home" type="number">
                <input name="comment" placeholder="Комментарий" class="form-control input-home" type="text">
                </div><div class="inline-input" style="width: 30px">
                <button style="height: 100px; font-size: 25px" class="btn btn-default">
                    <i class="fa fa-check" style="color: #5cb85c" aria-hidden="true"></i>
                </button>
            </div>
            </form>
            <p style="color: green">Доступно для ввода: <b>{{ user.settings.free_money|points }}</b> <i class="fa fa-rub" aria-hidden="true"></i></p>
            <p class="info-text">
                Если вы хотите добавить денежные средства в текущий период плана, используйте эту форму. Лимиты категорий будут рассчитаны автоматически.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="manage-block">
            <h4><i class="icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Удаление плана</h4>
            <p class="info-text">
                При удалении плана неиспользованные средства будут зачислены на счет неиспользуемых денег. План будет восстановить невозможно.
            </p>
            <button id="delete" type="button" class="btn btn-r">Удалить план "{{ configuration.name }}"</button>
        </div>
    </div>
</div>
<div class="row">
    <h3>История действий в плане <i class="fa fa-question-circle-o help-button" aria-hidden="true"></i></h3>
    <hr>
    {% include 'history_table.html' %}
</div>
<script src="{% static 'js/home.js' %}"></script>
