{% load staticfiles %}
<div class="row">
    <h3>Навигация</h3>
    <hr>
    <div onclick="load('cost/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-plus fa-4x" aria-hidden="true"></i> <br>
                Ввести трату</h2>
        </div>
    </div>
    <div onclick="load('stat/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-line-chart fa-4x" aria-hidden="true"></i> <br>
                Статистика</h2>
        </div>
    </div>
    <div onclick="load('settings/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-cog fa-4x" aria-hidden="true"></i> <br>
                Настройки</h2>
        </div>
    </div>
    <div onclick="load('shopping_list/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-list fa-4x" aria-hidden="true"></i> <br>
                Список покупок</h2>
        </div>
    </div>
    <div onclick="load('archive/')" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-archive fa-4x" aria-hidden="true"></i> <br>
                Архив</h2>
        </div>
    </div>
    <div onclick="location.href='{% url 'panel' %}'" class="col-lg-4 navigation">
        <div style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);" class="block-conf">
            <h2><i class="fa fa-columns fa-4x" aria-hidden="true"></i> <br>
                Панель</h2>
        </div>
    </div>
</div>
<div class="row">
    <h3>Управление</h3>
    <hr>
    <div class="col-lg-4">
        <div class="manage-block">
            <h4 id="manage-block-title-1"><i class="icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Новый рассчетный период</h4>
            <form style="margin-bottom: 15px" name="new-period" method="POST">
                <input name="name" hidden value="{{ configuration.name_url }}">
                <input required name="number" placeholder="Распределяемая сумма" class="form-control input-home" type="number">
                <input name="comment" placeholder="Комментарий (необ.)" class="form-control input-home" type="text">
                <button style="width: 100%; height: 45px; font-size: 25px" class="btn btn-default">
                    <i class="fa fa-check" style="color: #5cb85c" aria-hidden="true"></i>
                </button>
            </form>
            <p class="info-text">При начале нового рассчетного периода: <br>
                - обнулятся текущие траты <br>
                - неиспользованная сумма перейдет на ваш накопительный счет <br>
                - отсчет месяца пойдет с сегодняшнего дня <br>
                - <b>максимумы в категориях будут автоматически рассчитаны пропорционально. Вы всегда можете подкорректировать их в настройках.</b><br>
                - вся история трат переместится в <a href="">архив</a>. <br>
            </p>
            <p class="info-text" style="color: rgba(191,101,84,0.99);">
                ВНИМАНИЕ! После начала нового рассчетного периода, возвратиться к прежнему состоянию плана будет невозможно.
            </p>
        </div>
    </div>
    {#    <div class="col-lg-4">#}
    {#        <div class="manage-block">#}
    {#            <h4><i class=" icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Изменение даты</h4>#}
    {#            <div style="margin-bottom: 10px;" class="input-group">#}
    {#                <input class="form-control input-home" value="{{ configuration.date|date:"Y-m-d" }}" type="date">#}
    {#                <button id="date" style="height: 50px;font-size: 25px" class="btn btn-default">#}
    {#                    <i class="fa fa-check" style="color: #5cb85c" aria-hidden="true"></i>#}
    {#                </button>#}
    {#            </div>#}
    {#            <p class="info-text">#}
    {#                Если после ввода дохода вы ошиблись днем, вы можете поменять текущую дату не создавая новый план. По умолчанию стоит текущая дата вашего плана распределения бюджета.#}
    {#            </p>#}
    {#        </div>#}
    {#    </div>#}
    <div class="col-lg-4">
        <div class="manage-block">
            <h4><i class="icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Добавление денежных средств</h4>
            <form style="margin-bottom: 15px" name="middle-income" method="POST">
                <input name="name" hidden value="{{ configuration.name_url }}">
                <input required name="number" placeholder="Сумма" class="form-control input-home" type="number">
                <input name="comment" placeholder="Комментарий (необ.)" class="form-control input-home" type="text">
                <button style="width: 100%; height: 45px; font-size: 25px" class="btn btn-default">
                    <i class="fa fa-check" style="color: #5cb85c" aria-hidden="true"></i>
                </button>
            </form>
            <p class="info-text">
                Введенная вами сумма пропорционально добавится ко всем категориям плана. Вы всегда можете откорректировать лимиты категорий в настройках.
            </p>
            <p class="info-text" style="color: rgba(191,101,84,0.99);">
                ВНИМАНИЕ! Введенная сумма <u>добавится</u> к текущей сумме плана. Если вы, допустим, получили зарплату, целесообразней будет начать новый рассчетный период.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="manage-block">
            <h4><i class="icon fa fa-caret-right" style="color: {{ configuration.color }}" aria-hidden="true"></i> Удаление плана</h4>
            <p class="info-text">
                После удаления неиспользованные средства перейдут на ваш накопительный счет. Восстановить план будет невозможно.
            </p>
            <button id="delete" type="button" class="btn btn-r">Удалить план "{{ configuration.name }}"</button>
        </div>
    </div>
</div>
<div class="row">
    <h3>История действий в плане {{ configuration.name }}</h3>
    <hr>
    {% include 'history_table.html' %}
</div>
<script src="{% static 'js/home.js' %}"></script>
