{% load staticfiles %}
<h3>Запланированные покупки</h3>
<hr>
<div class="row">
    <div onclick="load('shopping_list/0/')" class="col-lg-4 add-shopping-list">
        <div class="shopping-list" style="border: dashed 3px;">
            <p>Создать новый список запланированных покупок</p>
        </div>
    </div>
    {% for list in shopping_lists %}
        <div onclick="load('shopping_list/{{ list.id }}/')" class="col-lg-4">
            <div class="shopping-list" style="border: solid 3px;">
                <p>{{ list.name }}</p>
            </div>
        </div>
    {% endfor %}

</div>