{% load staticfiles %}
    <h3>Списки запланированных покупок <i class="fa fa-question-circle-o help-button" aria-hidden="true"></i></h3>
    <hr>
    <div class="row">
        <div onclick="load('shopping_list/0/')" class="col-lg-4 add-shopping-list">
            <div class="shopping-list" style="border: dashed 3px;">
                <p>Создать новый список запланированных покупок</p>
            </div>
        </div>
        {% for list in shopping_lists %}
            <div onclick="load('shopping_list/{{ list.id }}/')" class="col-lg-4">
                <div class="shopping-list" style="background: linear-gradient(45deg, {{ configuration.color }}, #f4d0b2);">
                    <div style="font-size: 23px;display: inline-block;">{{ list.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
