<div style="margin-bottom: 10px" class="input-group">
    <span style="width: 40px" class="input-group-addon"><b>1</b></span>
    <input name="name-plan" id="date-one" type="date" class="form-control"/>
</div>
<div style="margin-bottom: 10px" class="input-group">
    <span style="width: 40px" class="input-group-addon"><b>2</b></span>
    <input name="name-plan" id="date-two" type="date" class="form-control"/>
</div>
<div class="help-dates" style="margin-bottom: 15px">
    <span id="time-all">за все время</span> <span id="time-1">за 1 месяц</span> <span id="time-3">за 3 месяца</span> <span id="time-6">за полгода</span> <span id="time-12">за год</span> <br>
    <span id="period-1">последний период</span> <span id="period-2">за 2 последних периода</span> <span id="period-3">за 3 последних периода</span>
</div>
<script>
    $('.help-dates').on('click', function (e) {
        var id = e.target.id;
        get_and_change_dates(id)
    });
</script>