<div class="col-lg-6">

{#    <h4>#}
{#        <b><i class="fa fa-question-circle" aria-hidden="true"></i></b> Выбор интервала#}
{#    </h4>#}
{#    <p class="info-text">Внимание! Здесь доступны только траты, перенесенные в архив. За текущими вы можете проследить во вкладке "Статистика".</p>#}
{#    <div style="margin-bottom: 10px" class="input-group">#}
{#        <span style="width: 40px" class="input-group-addon"><b>1</b></span>#}
{#        <input style="width: 140%" name="name-plan" id="date-one" value="{{ date_one }}" type="date" class="form-control"/>#}
{#    </div>#}
{#    <div style="margin-bottom: 10px" class="input-group">#}
{#        <span style="width: 40px" class="input-group-addon"><b>2</b></span>#}
{#        <input style="width: 140%" name="name-plan" id="date-two" value="{{ date_two }}" type="date" class="form-control"/>#}
{#    </div>#}
{#    <div class="help-dates" style="margin-bottom: 15px">#}
{##}
{#        <span id="time-all">за все время</span> <span id="time-1">за 1 месяц</span> <span id="time-3">за 3 месяца</span> <span id="time-6">за полгода</span> <span id="time-12">за год</span> <br>#}
{#        <span id="period-1">последний период</span> <span id="period-2">за 2 последних периода</span> <span id="period-3">за 3 последних периода</span>#}
{#    </div>#}
{#    <button class="btn btn-default" id="submit-archive" style="font-size: 18px;margin-bottom: 30px;" type="button">Получить статистику</button>#}

    <h4> Выбран интервал: <b>{{ date_one }} / {{ date_two }}</b></h4>
    <button class="btn btn-default" id="edit-interval" style="font-size: 18px;margin-bottom: 30px;" type="button">Изменить интервал</button>

    <h4>
        <b><i class="fa fa-info-circle" style="color: #261bb8;opacity: 0.8;" aria-hidden="true"></i></b> Краткая статистика
    </h4>
    <p class="info-archive"> За <b>{{ days }}</b> дн. между <b>{{ date_one }}</b> и <b>{{ date_two }}</b>:</p>
    <p class="info-archive"><i class="fa fa-caret-right" style="color:{{ configuration.color }}" aria-hidden="true"></i> было потрачено <b>{{ spent }}</b> р.</p>
    <p class="info-archive"><i class="fa fa-caret-right" style="color:{{ configuration.color }}" aria-hidden="true"></i> средняя трата за день <b>{{ middle_cost }}</b> р.</p>
    <p class="info-archive"><i class="fa fa-caret-right" style="color:{{ configuration.color }}" aria-hidden="true"></i> самая большая трата <b>{{ biggest_cost|first }}</b> р. с комментарием: <b>{{ biggest_cost|last }}</b></p>
    <h4 style="margin-top: 50px">
        <b>#</b> Статистика трат по меткам:
    </h4>
    <table class="table">
        <thead>
        <tr style="font-weight: bold">
            <td>Метка</td>
            <td style="text-align: center"><i class="fa fa-rub" aria-hidden="true"></i></td>
        </tr>
        </thead>
        <tbody>
        {% for name, value in dict_tags %}
            <tr>
                <td class="tags-view-archive" id="{{ name }}" style="cursor: pointer">
                    {{ name }}
                </td>
                <td class="tags-value" style="width: 80px; border-left: 1px solid #d0d0d0; text-align: center">
                    {{ value }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-lg-6">
    <h4>
        <b><i class="fa fa-list-ul" aria-hidden="true"></i></b> Траты, попавшие в выбранный период:
    </h4>
    <table class="table">
        <tbody style="font-size: 15px">
        {% for cost in costs %}
            <tr>
                <td>
                    <b>{{ cost.datetime }}</b><br>
                    Покупка на сумму: <b>{{ cost.value }} <i class="fa fa-rub" aria-hidden="true"></i></b>.
                    <br>
                    Комментарий: <b>{{ cost.detailed_comment }}</b><br> {% for tag in cost.tags.all %}<span class="tags-in-action">{{ tag.name }}</span>{% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>