html{ height: 100%; }
body{ display: flex; flex-direction: column; height: 100%; }

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 50px;
    overflow: hidden;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    display: block;
    position: absolute;
    right: 100%;
    margin-right: 0;
    width: 93%;
    top: 7px;
    height: 14px;
    font-size: 16px;
    background: #eb7a55;
    color: #eb7a55;
    line-height: 60px;
    font-weight: bold;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

    -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
    -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
    box-shadow: 120px 0 #fff, 240px 0 #fff;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: inline-block;
    position: fixed;
    width: 45px;
    text-align: right;
    right: 0;
    padding-right: 16px;
    top: 4px;
}

.pace .pace-progress[data-progress-text="0%"]:after { right: -200px }
.pace .pace-progress[data-progress-text="1%"]:after { right: -198.14px }
.pace .pace-progress[data-progress-text="2%"]:after { right: -196.28px }
.pace .pace-progress[data-progress-text="3%"]:after { right: -194.42px }
.pace .pace-progress[data-progress-text="4%"]:after { right: -192.56px }
.pace .pace-progress[data-progress-text="5%"]:after { right: -190.7px }
.pace .pace-progress[data-progress-text="6%"]:after { right: -188.84px }
.pace .pace-progress[data-progress-text="7%"]:after { right: -186.98px }
.pace .pace-progress[data-progress-text="8%"]:after { right: -185.12px }
.pace .pace-progress[data-progress-text="9%"]:after { right: -183.26px }
.pace .pace-progress[data-progress-text="10%"]:after { right: -181.4px }
.pace .pace-progress[data-progress-text="11%"]:after { right: -179.54px }
.pace .pace-progress[data-progress-text="12%"]:after { right: -177.68px }
.pace .pace-progress[data-progress-text="13%"]:after { right: -175.82px }
.pace .pace-progress[data-progress-text="14%"]:after { right: -173.96px }
.pace .pace-progress[data-progress-text="15%"]:after { right: -172.1px }
.pace .pace-progress[data-progress-text="16%"]:after { right: -170.24px }
.pace .pace-progress[data-progress-text="17%"]:after { right: -168.38px }
.pace .pace-progress[data-progress-text="18%"]:after { right: -166.52px }
.pace .pace-progress[data-progress-text="19%"]:after { right: -164.66px }
.pace .pace-progress[data-progress-text="20%"]:after { right: -162.8px }
.pace .pace-progress[data-progress-text="21%"]:after { right: -160.94px }
.pace .pace-progress[data-progress-text="22%"]:after { right: -159.08px }
.pace .pace-progress[data-progress-text="23%"]:after { right: -157.22px }
.pace .pace-progress[data-progress-text="24%"]:after { right: -155.36px }
.pace .pace-progress[data-progress-text="25%"]:after { right: -153.5px }
.pace .pace-progress[data-progress-text="26%"]:after { right: -151.64px }
.pace .pace-progress[data-progress-text="27%"]:after { right: -149.78px }
.pace .pace-progress[data-progress-text="28%"]:after { right: -147.92px }
.pace .pace-progress[data-progress-text="29%"]:after { right: -146.06px }
.pace .pace-progress[data-progress-text="30%"]:after { right: -144.2px }
.pace .pace-progress[data-progress-text="31%"]:after { right: -142.34px }
.pace .pace-progress[data-progress-text="32%"]:after { right: -140.48px }
.pace .pace-progress[data-progress-text="33%"]:after { right: -138.62px }
.pace .pace-progress[data-progress-text="34%"]:after { right: -136.76px }
.pace .pace-progress[data-progress-text="35%"]:after { right: -134.9px }
.pace .pace-progress[data-progress-text="36%"]:after { right: -133.04px }
.pace .pace-progress[data-progress-text="37%"]:after { right: -131.18px }
.pace .pace-progress[data-progress-text="38%"]:after { right: -129.32px }
.pace .pace-progress[data-progress-text="39%"]:after { right: -127.46px }
.pace .pace-progress[data-progress-text="40%"]:after { right: -125.6px }
.pace .pace-progress[data-progress-text="41%"]:after { right: -123.74px }
.pace .pace-progress[data-progress-text="42%"]:after { right: -121.88px }
.pace .pace-progress[data-progress-text="43%"]:after { right: -120.02px }
.pace .pace-progress[data-progress-text="44%"]:after { right: -118.16px }
.pace .pace-progress[data-progress-text="45%"]:after { right: -116.3px }
.pace .pace-progress[data-progress-text="46%"]:after { right: -114.44px }
.pace .pace-progress[data-progress-text="47%"]:after { right: -112.58px }
.pace .pace-progress[data-progress-text="48%"]:after { right: -110.72px }
.pace .pace-progress[data-progress-text="49%"]:after { right: -108.86px }
.pace .pace-progress[data-progress-text="50%"]:after { right: -107px }
.pace .pace-progress[data-progress-text="51%"]:after { right: -105.14px }
.pace .pace-progress[data-progress-text="52%"]:after { right: -103.28px }
.pace .pace-progress[data-progress-text="53%"]:after { right: -101.42px }
.pace .pace-progress[data-progress-text="54%"]:after { right: -99.56px }
.pace .pace-progress[data-progress-text="55%"]:after { right: -97.7px }
.pace .pace-progress[data-progress-text="56%"]:after { right: -95.84px }
.pace .pace-progress[data-progress-text="57%"]:after { right: -93.98px }
.pace .pace-progress[data-progress-text="58%"]:after { right: -92.12px }
.pace .pace-progress[data-progress-text="59%"]:after { right: -90.26px }
.pace .pace-progress[data-progress-text="60%"]:after { right: -88.4px }
.pace .pace-progress[data-progress-text="61%"]:after { right: -86.53999999999999px }
.pace .pace-progress[data-progress-text="62%"]:after { right: -84.68px }
.pace .pace-progress[data-progress-text="63%"]:after { right: -82.82px }
.pace .pace-progress[data-progress-text="64%"]:after { right: -80.96000000000001px }
.pace .pace-progress[data-progress-text="65%"]:after { right: -79.1px }
.pace .pace-progress[data-progress-text="66%"]:after { right: -77.24px }
.pace .pace-progress[data-progress-text="67%"]:after { right: -75.38px }
.pace .pace-progress[data-progress-text="68%"]:after { right: -73.52px }
.pace .pace-progress[data-progress-text="69%"]:after { right: -71.66px }
.pace .pace-progress[data-progress-text="70%"]:after { right: -69.8px }
.pace .pace-progress[data-progress-text="71%"]:after { right: -67.94px }
.pace .pace-progress[data-progress-text="72%"]:after { right: -66.08px }
.pace .pace-progress[data-progress-text="73%"]:after { right: -64.22px }
.pace .pace-progress[data-progress-text="74%"]:after { right: -62.36px }
.pace .pace-progress[data-progress-text="75%"]:after { right: -60.5px }
.pace .pace-progress[data-progress-text="76%"]:after { right: -58.64px }
.pace .pace-progress[data-progress-text="77%"]:after { right: -56.78px }
.pace .pace-progress[data-progress-text="78%"]:after { right: -54.92px }
.pace .pace-progress[data-progress-text="79%"]:after { right: -53.06px }
.pace .pace-progress[data-progress-text="80%"]:after { right: -51.2px }
.pace .pace-progress[data-progress-text="81%"]:after { right: -49.34px }
.pace .pace-progress[data-progress-text="82%"]:after { right: -47.480000000000004px }
.pace .pace-progress[data-progress-text="83%"]:after { right: -45.62px }
.pace .pace-progress[data-progress-text="84%"]:after { right: -43.76px }
.pace .pace-progress[data-progress-text="85%"]:after { right: -41.9px }
.pace .pace-progress[data-progress-text="86%"]:after { right: -40.04px }
.pace .pace-progress[data-progress-text="87%"]:after { right: -38.18px }
.pace .pace-progress[data-progress-text="88%"]:after { right: -36.32px }
.pace .pace-progress[data-progress-text="89%"]:after { right: -34.46px }
.pace .pace-progress[data-progress-text="90%"]:after { right: -32.6px }
.pace .pace-progress[data-progress-text="91%"]:after { right: -30.740000000000002px }
.pace .pace-progress[data-progress-text="92%"]:after { right: -28.880000000000003px }
.pace .pace-progress[data-progress-text="93%"]:after { right: -27.02px }
.pace .pace-progress[data-progress-text="94%"]:after { right: -25.16px }
.pace .pace-progress[data-progress-text="95%"]:after { right: -23.3px }
.pace .pace-progress[data-progress-text="96%"]:after { right: -21.439999999999998px }
.pace .pace-progress[data-progress-text="97%"]:after { right: -19.58px }
.pace .pace-progress[data-progress-text="98%"]:after { right: -17.72px }
.pace .pace-progress[data-progress-text="99%"]:after { right: -15.86px }
.pace .pace-progress[data-progress-text="100%"]:after { right: -14px }


.pace .pace-activity {
    position: absolute;
    width: 100%;
    height: 28px;
    z-index: 2001;
    box-shadow: inset 0 0 0 2px gray, inset 0 0 0 7px #FFF;
    border-radius: 0;
}

.pace.pace-inactive {
    display: none;
}

::-webkit-scrollbar-button {
    background: url('') no-repeat;
    width:6px;
    height:0
}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow:0 0 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    background: url('/static/image/scroll.png') no-repeat center;
}

::-webkit-resizer{
    background: url('') no-repeat;
    width:3px;
    height:0
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

h2 {
    margin: 0;
    font-weight: bold;
    text-shadow: white;
}

h3 {
    padding-left: 15px
}

.row {
    margin-left: 0;
    margin-right: 0;
}

list {
    display: none;
}

h4 {
    margin-bottom: 20px;
}

tr th {
    font-weight: unset;
}

.btn {
    border-radius: 0 !important;
    background: #ffe2c1;
}

.btn:hover {background: #d1d7db;}

.btn-r {
    background: rgba(255, 0, 0, 0.67) !important;
    color: white;
}

.btn-r:hover {
    background: rgba(255, 0, 0, 0.51) !important;
    color: white;
}

.col-lg-4 {
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*#nprogress .bar {*/
/*background: #ff923a;*/
/*height: 3px;*/
/*}*/

/*#nprogress .spinner-icon {*/
/*border-top-color: #ff923a;*/
/*border-left-color: #ff923a;*/
/*}*/

/*#nprogress .peg {*/
/*box-shadow: 0 0 10px #29d, 0 0 5px #ff923a;*/
/*}*/

.auth-logo {
    text-align: center;
    padding: 20px 0 20px 0;
    color: #ff923a;
}

.auth-block {
    background: oldlace;
    padding: 0 20px 20px 20px;
    box-shadow: 0 0 6px black
}

.btn-auth {
    width: 100%;
    height: 50px;
    font-size: 20px
}

/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #24292e;
    border-radius: 0;
    border: none;

}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #ff923a;
    font-size: 25px;
    cursor: pointer;
    padding: 12px 15px 18px 15px;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffb57c;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    cursor: pointer;
    color: #f4d0b2;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffb57c;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f4d0b2;
    background-color: #3d3c41;
    border-left: 2px solid #f4d0b2;
    border-right: 2px solid #f4d0b2;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffb57c;
    background-color: #3d3c41;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: gray;
    border-bottom-color: gray;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffb57c;
    border-bottom-color: #ffb57c;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffb57c;
    border-bottom-color: #ffb57c;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffb57c;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffb57c;
}

.dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.dropdown-menu > li > a {
    color: rgb(0, 0, 0)
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffb57c;
    text-decoration: none;
    background-color: #3d3c41;
}

.category-detail {
    background: linear-gradient(to right, #e8ffdf 0%, #ffffff 0%);
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffb57c;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffb57c;
        background-color: transparent;
    }
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}


.conf {
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
    padding-bottom: 20px;
}

.conf:hover {
    opacity: 1;
    transition: 0.3s;
}


.add {opacity: 0.4}
.add:hover {opacity: 0.8}

.input-group {
    margin-bottom: 40px;
}

.icon {
    color: #ff923a;
    opacity: 0.7;
    font-size: 14px !important;
}


#amount-tr-month, #amount-tr-week {
    font-weight: bold;
    border-bottom: 2px dashed #c8c8c8
}

.form-control {
    border-radius: 1px;
}

.lg {
    display: inline-block;
    text-align: center;
    width: 20%;
    border: 3px solid oldlace;
}

.icons {cursor: pointer}
.icons:hover {border-bottom: solid 3px #ff923a}

.active-icons {border-bottom: solid 3px #ff923a}

.form-control:focus {
    border-color: #ff923a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 183, 17, 0.6);
    border: 2px solid #ff923a;
}

.group-category {
    display: inline-block;
}

.input-home {
    height:50px;
    font-size:17px;
    width: 100% !important;
}

input[type=checkbox], input[type=radio] { display: none; }

.pseudocheckbox::before {
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #ffbe8b;;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #ff3c08;
}

input[type=checkbox]:checked + .pseudocheckbox::before { content: "\2713";}
input[type=radio]:checked + .pseudocheckbox::before { content: "\2713";}

.btn-cost {
    display: inline-block;
    border-radius: 0;
    height: 28px;
    padding: 2px 6px 2px 6px;
    vertical-align: inherit;
}

.btn-cost:hover {
    color: #ff6116;
}

.hide-detail {
    display: none;
    position: absolute;
    background: white;
    right: 50px;
    z-index: 1001;
    font-size: 13px;
    box-shadow: 0 0 1px black;
}

.input-cost {
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
    background: white;
}

.input-cost input {
    margin-bottom: 10px;
}

.caret-hide:hover {
    color: #ff6116;
}

.td-cost {
    text-align: center;
}

.remove-middle-cost {
    cursor: pointer;
    text-align: center;
}

.remove-middle-cost:hover {
    background: #eaeaea;
}

#boxTags {
    font-family: Arial;
    border: 1px solid #d3d3d3;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    margin-top: 10px;
    background: white;
    cursor: text;
}

.ulTags {
    padding: 0;
    margin: 0;
}
.ulTags .li_tags {
    border: 1px solid #e3e3e3;
    background: #e3e3e3;
    display: inline-block;
    float: left;
    cursor: pointer;
    list-style: none;
    margin: 0 10px 10px 0;
    padding: 0 3px 4px 5px;
    transition: 0.3s;
}
.ulTags .li_tags:hover {
    border-color: #ff923a;
    transition: 0.3s;
}
#newTagInput {
    display: inline;
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    padding: 0 2px 2px 0;
    width: 23px;
    background: white;
}
.a_tag {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}
.a_tag:hover {
    color: #000000;
}
.del {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 4px 1px 4px;
    background: #ff923a;
    color: #ffffff;
    position: relative;
}
.del:hover {
    background: #ff7221;
}

.input-tags {
    width: 23px;
    border: 1px solid #ffffff;
    font-size: 12px;
    outline: none;
}

.block-panel {
    background: linear-gradient(45deg, #ffd3b0, #f3f6f1);
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    text-align: center
}

.block-panel:hover {
    background: linear-gradient(45deg, #f3f6f1, #ffd3b0);
}

.slider-block-panel {
    height: 102px;
    overflow: hidden;
}

#freemoney, #freecirc, #circ {
    font-size: 45px;
}

#freemoney {
    color: #5cb85c
}

#add-plan {
    padding-top: 10px;
    font-size: 19px;
    font-weight: bold
}

.info-text {
    font-size: 13px;
    color: grey
}

.list-plan {
    border: solid 3px;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    height: 310px;
}

.shopping-list {
    cursor: pointer;
    padding: 20px;
    height: 100px;
    text-align: center;
    font-size: 19px;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#archive-stat .inner {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-shopping-list {
    opacity: 0.6;
    transition: 0.3s;
}

.add-shopping-list:hover {
    opacity: 1;
    transition: 0.3s;
}

.icons-i {
    font-size: 50px;
    padding-bottom: 10px
}

.list-plan i {
    font-size: 200px
}

.block-conf {
    cursor: pointer;
    padding: 20px;
    text-align: center;
    min-height: 200px;
}

.manage-block {
    border-radius: 5px;
    padding: 20px;
}

.tags-in-action {
    border: 1px solid #e3e3e3;
    background: #e3e3e3;
    display: inline-block;
    list-style: none;
    font-size: 10px;
    margin: 0 2px 2px 0;
    padding: 0 3px 4px 5px;
}

.jconfirm-title {
    line-height: 26px !important;
}

.name-configuration-panel {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.info-archive {
    padding-left: 20px;
}

.help-dates span {
    float: left;
    color: gray;
    font-size: 14px;
    border-bottom: 1px dotted gray;
    margin-right: 10px;
    cursor: pointer;
}

.help-dates span:hover {
    color: orange;
}

.wrapper-history {
    max-height: 700px;
    overflow: auto
}

.input-shopping-list,
.input-buffer{
    font-size: 17px;
    letter-spacing: 0.05em;
}

.input-shopping-list {
    min-width: 50px;
    width: 50px;
    border: none;
    border-bottom: 1px dashed #bababa;
    border-radius: 0;
    font-size: 17px;
    font-weight: 100;
    outline: none;
}

input[name=price], input[name=new-price], input[name=count], input[name=new-count], select[name=item-category] {
    outline: none;
    border-radius: 0;
    min-width: 50px;
    font-size: 17px;
}

.input-buffer{
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
}

.info-item-shop {
    font-weight: 100 !important;
    padding-top: 5px;
    font-size: 17px;
}

.info-item-shop input {
    padding: 0;
    border: 0;
}

.show-item-shop {
    color: gray;
    cursor: pointer;
}

.show-item-shop:hover {
    color: #ff3c08;
}

#add-item {
    color: gray;
    cursor: pointer;
    padding-top: 15px;
}

#add-item:hover {
    color: black;
}

.item-list {
    font-size: 20px;
    margin-bottom: 30px;
}

.delete-item {
    padding-left: 15px;
    color: #9d9d9d;
    cursor: pointer;
}

.delete-item:hover {
    color: red;
}

.block-conf:hover, .shopping-list:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.footer {
    margin-top: 80px;
    height: 25px;
    background: #313131;
}

.inline-input {
    display: inline-block;
    vertical-align: top
}

.help-button {
    cursor: pointer;
    opacity: 0.4;
}

.help-button:hover {
    opacity: 1;
}

.version {
    cursor: pointer;
}

.version:hover {
    color: #ffb57c;
}
