body {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar-button {
    background: url('') no-repeat;
    width:6px;
    height:0
}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow:0 0 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    background: url('/static/image/scroll.png') no-repeat center;
}

::-webkit-resizer{
    background: url('') no-repeat;
    width:3px;
    height:0
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

h2 {
    margin: 0;
    font-weight: bold;
    text-shadow: white;
}

h3 {
    padding-left: 15px
}

.row {
    margin-left: 0;
    margin-right: 0;
}

list {
    display: none;
}

h4 {
    margin-bottom: 20px;
}

tr th {
    font-weight: unset;
}

.btn {
    border-radius: 0 !important;
    background: #ffe2c1;
}

.btn:hover {background: #d1d7db;}

.btn-r {
    background: rgba(255, 0, 0, 0.67) !important;
    color: white;
}

.btn-r:hover {
    background: rgba(255, 0, 0, 0.51) !important;
    color: white;
}

.col-lg-4 {
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#nprogress .bar {
    background: #ff923a;
    height: 3px;
}

#nprogress .spinner-icon {
  border-top-color: #ff923a;
  border-left-color: #ff923a;
}

#nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #ff923a;
}

.auth-logo {
    text-align: center;
    padding: 20px 0 20px 0;
    color: #ff923a;
}

.auth-block {
    background: oldlace;
    padding: 0 20px 20px 20px;
    box-shadow: 0 0 6px black
}

.btn-auth {
    width: 100%;
    height: 50px;
    font-size: 20px
}

/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #24292e;
    border-radius: 0;
    border: none;

}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #ff923a;
    font-size: 25px;
    cursor: pointer;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffb57c;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    cursor: pointer;
    color: #f4d0b2;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffb57c;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f4d0b2;
    background-color: #3d3c41;
    border-left: 2px solid #f4d0b2;
    border-right: 2px solid #f4d0b2;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffb57c;
    background-color: #3d3c41;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: gray;
    border-bottom-color: gray;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffb57c;
    border-bottom-color: #ffb57c;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffb57c;
    border-bottom-color: #ffb57c;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffb57c;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffb57c;
}

.dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.dropdown-menu > li > a {
    color: rgb(0, 0, 0)
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffb57c;
    text-decoration: none;
    background-color: #3d3c41;
}

.category-detail {
    background: linear-gradient(to right, #e8ffdf 0%, #ffffff 0%);
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffb57c;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffb57c;
        background-color: transparent;
    }
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}
.navbar-toggle .icon-bar:nth-of-type(1) {
  transform: translate3d(1px,0,0) rotate(-45deg);
  transform-origin: center center;
  width: 11px;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
  transform: rotate(-90deg);
  transform-origin: center center;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  transform: translate3d(0px,-14px,0) rotate(-135deg);
  transform-origin: right top;
    width: 11px;
}

.conf {
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
    padding-bottom: 20px;
}

.conf:hover {
    opacity: 1;
    transition: 0.3s;
}


.add {opacity: 0.4}
.add:hover {opacity: 0.8}

.input-group {
    margin-bottom: 40px;
}

.icon {
    color: #ff923a;
    opacity: 0.7;
    font-size: 14px !important;
}


#amount-tr-month, #amount-tr-week {
    font-weight: bold;
    border-bottom: 2px dashed #c8c8c8
}

.form-control {
    border-radius: 1px;
}

.lg {
    display: inline-block;
    text-align: center;
    width: 20%;
    border: 3px solid oldlace;
}

.icons {cursor: pointer}
.icons:hover {border-bottom: solid 3px #ff923a}

.active-icons {border-bottom: solid 3px #ff923a}

.form-control:focus {
    border-color: #ff923a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 183, 17, 0.6);
    border: 2px solid #ff923a;
}

.group-category {
    display: inline-block;
}

.input-home {
    height:50px;
    font-size:20px;
    width: 210px !important;
}

input[type=checkbox] { display: none; }

.pseudocheckbox::before {
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #ff923a;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #ff3c08;
}

input[type=checkbox]:checked + .pseudocheckbox::before { content: "\2713"; }

.btn-cost {
    display: inline-block;
    border-radius: 0;
    height: 28px;
    padding: 2px 6px 2px 6px;
    vertical-align: inherit;
}

.btn-cost:hover {
    color: #ff6116;
}

.hide-detail {
    display: none;
    position: absolute;
    background: white;
    right: 50px;
    z-index: 1001;
    font-size: 13px;
    box-shadow: 0 0 1px black;
}

.input-cost {
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
    background: white;
}

.input-cost input {
    margin-bottom: 10px;
}

.caret-hide:hover {
    color: #ff6116;
}

.td-cost {
    text-align: center;
}

.remove-middle-cost {
    cursor: pointer;
    text-align: center;
}

.remove-middle-cost:hover {
    background: #eaeaea;
}

#boxTags {
    font-family: Arial;
    border: 1px solid #d3d3d3;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    margin-top: 10px;
    background: white;
    cursor: text;
}

.ulTags {
    padding: 0;
    margin: 0;
}
.ulTags .li_tags {
    border: 1px solid #e3e3e3;
    background: #e3e3e3;
    display: inline-block;
    float: left;
    cursor: pointer;
    list-style: none;
    margin: 0 10px 10px 0;
    padding: 0 3px 4px 5px;
    transition: 0.3s;
}
.ulTags .li_tags:hover {
    border-color: #ff923a;
    transition: 0.3s;
}
#newTagInput {
    display: inline;
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    padding: 0 2px 2px 0;
    width: 23px;
    background: white;
}
.a_tag {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}
.a_tag:hover {
    color: #000000;
}
.del {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 4px 1px 4px;
    background: #ff923a;
    color: #ffffff;
    position: relative;
}
.del:hover {
    background: #ff7221;
}

.input-tags {
    width: 23px;
    border: 1px solid #ffffff;
    font-size: 12px;
    outline: none;
}

.block-panel {
    background: linear-gradient(45deg, #ffd3b0, #f3f6f1);
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    text-align: center
}

.block-panel:hover {
        background: linear-gradient(45deg, #f3f6f1, #ffd3b0);
}

.slider-block-panel {
    height: 102px;
    overflow: hidden;
}

#freemoney, #freecirc, #circ {
    font-size: 45px;
}

#freemoney {
    color: #5cb85c
}

#add-plan {
    padding-top: 10px;
    font-size: 19px;
    font-weight: bold
}

.info-text {
    font-size: 13px;
    color: grey
}

.list-plan {
    border: solid 3px;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    height: 310px;
}

.icons-i {
    font-size: 50px;
    padding-bottom: 10px
}

.list-plan i {
    font-size: 200px
}

.block-conf {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    min-height: 200px;
    transition: 0.3s;

}

.block-conf:hover h2 {
    color: #4f4f4f;
    transition: 0.3s;
}

.manage-block {
    border-radius: 5px;
    padding: 20px;
}

.tags-in-action {
    border: 1px solid #e3e3e3;
    background: #e3e3e3;
    display: inline-block;
    list-style: none;
    font-size: 10px;
    margin: 0 2px 2px 0;
    padding: 0 3px 4px 5px;
}

.jconfirm-title {
    line-height: 26px !important;
}

.name-configuration-panel {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.info-archive {
    padding-left: 20px;
}

.help-dates span {
    float: left;
    color: gray;
    font-size: 14px;
    border-bottom: 1px dotted gray;
    margin-right: 10px;
    cursor: pointer;
}

.help-dates span:hover {
    color: orange;
}

.wrapper-history {
    max-height: 700px;
    overflow: auto
}
